<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @good.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @good.image %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
